body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

header {
    background-color: #2D3748;
    padding: 20px;
    color: white;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    margin-left: 30px;
    display: inline-block;
    padding: 10px;
}

main.flex-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

article {
    width: 30%;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

article h2 {
    margin: 0 0 10px;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    /*object-fit: cover;*/
    margin-bottom: 10px;
}

article a {
    display: block;
    margin: auto -10px -10px;
    background-color: #c4c4c4;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
}

article a:hover {
    background-color: #d5d5d5;
}

footer {
    background-color: #2D3748;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

.reply {
    padding-left: 30px;
}
