body {
    font-family: Verdana, sans-serif;
    background-color: #f3f3f3;
    color: #444444;
}

#container {
    width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: #ff3f83;
    color: white;
    letter-spacing: 10px;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 30px;
}

nav a {
    color: #7f8686;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
    padding: 5px 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #444;
    color: white;
}

#welcome {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

#welcome h1 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

#welcome h2 {
    font-weight: normal;
    color: #7f8686;
    margin-top: 0;
}

.action-button {
    width: 230px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.blue-button {
    background-color: #0090c5;
    color: white;
    margin-bottom: 15px;
}

.action-button:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

main section {
    width: 32%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 15px;
    overflow: hidden;
}

main section p, main section h3 {
    padding: 0 15px;
}

main section p {
    margin: 0;
    line-height: 25px;
    color: #7f8686;
}

main section:before {
    content: "";
    height: 150px;
    display: block;
}

#first-column:before {
    background-color: #6b9851;
}

#second-column:before {
    background-color: #2878ab;
}

#third-column:before {
    background: linear-gradient(to bottom, #61516a, #bd8961);
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
