body {
    margin: 0;
}

header  {
    background-color: #10374d;
    color: white;
    padding: 20px;
    display: flex;
}

a {
    color: inherit;
}

nav {
    margin-left: auto;
}

nav li {
    display: inline-block;
    position: relative;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: #10374d;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

nav li a:hover {
    background-color: #041016;
    color: white;
}

nav li ul {
    display: none;
    padding: 0;
    width: 120px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

nav li:hover ul {
    display: block;
    position: absolute;
    left: 0;
}
