.LetterA {
    background-color: red;
}
.LetterB {
    background-color: cornflowerblue;
}
.LetterC {
    background-color: yellow;
}
.LetterD {
    background-color: green;
}
.LetterE {
    background-color: blue;
}
