* {
    margin: 0;
    padding: 0;
}

html {
    color: #333;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
}

header {
    background: #10374d;
    color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header h1 {
    flex-grow: 1;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}*/

header nav a {
    margin-right: 10px;
}

main {
    width: 1000px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
}

section a {
    background: #10374d;
    padding: 5px;
    display: inline-block;
    margin: 20px 0;
    color: white;
    text-decoration: none;
}

main aside {
    width: 300px;
    margin-left: 50px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
}

main aside + aside {
    order: 3;
}

main section {
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    width: 650px;
    order: 1;
}

footer {
    margin-top: 20px;
    background: #10374d;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

#test-flex {
    width: 1000px;
    margin: auto;
    display: flex;
}

#test-flex div {
    border: 1px solid red;
    height: 100px;
    flex-grow: 2;
    flex-basis: 0;
    overflow: auto;
}

#test-flex #specific-div {
    border: 1px solid yellow;
    flex-grow: 2;
}
