div {
    background: red;
    width: 100px;
    height: 200px;
    font-size: 10px;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    box-sizing: border-box;
}

p {
    position: relative;
}

.fixed {
    background: yellow;
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 2;
}

.absolute {
    position: absolute;
    top: 100px;
    left: 50%;
    background: green;
    z-index: 1;
}

#short {
    height: 50px;
    background: gray;
    overflow-y: scroll;
}
