html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #e5f1f1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 300px;
}

form div {
    margin-bottom: 20px;
}

.error, .success {
    background-color: #9B2C2C;
    border-radius: 10px;
    padding: 15px;
    color: white;
    width: 300px;
    box-sizing: border-box;
}

.success {
    background-color: #21b924;
}

form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

form input:focus {
    outline: none;
    border-color: #0090c5;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

form label {
    margin-bottom: 5px;
    display: inline-block;
}

button {
    background-color: #2D3748;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}


button:hover {
    background-color: #171b24;
    cursor: pointer;
}
