@font-face {
    font-family: 'open_sans';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensans-italic-webfont.woff2') format('woff2'),
    url('opensans-italic-webfont.woff') format('woff'),
    url('opensans-italic-webfont.ttf') format('truetype'),
    url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensans-regular-webfont.woff2') format('woff2'),
    url('opensans-regular-webfont.woff') format('woff'),
    url('opensans-regular-webfont.ttf') format('truetype'),
    url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
